$red: #F93737
$grey: #BABABA

.header 
    background: url('../img/first-new.jpg') center center/cover no-repeat
    height: 100%

.menu
    background: rgba(0, 0, 0, .4)
    padding: 18px 0
    &__logo
        width: 80px
        height: 80px
    &__container
        display: flex
        justify-content: space-between
        align-items: center
    &__item
        display: flex
        justify-content: space-between
        flex-direction: column
        &--left
            display: flex
            flex-direction: row
    &__text
        display: flex
        flex-direction: column
        margin-left: 20px
        span
            color: #ffffff
            font-size: 18px
            padding: 12px 0 0 0
            &:nth-child(1)
                padding-top: 0
    

.call
    font-size: 24px
    color: #ffffff
    display: block
    padding: 6px 0
    text-align: right
    &__menu
        margin-bottom: 6px
    &__footer
        align-items: center
        display: flex
        font-size: 20px
        span
            margin-right: 10px
        svg
            width: 35px
            height: 35px

.first
    &__container
    &__title
        font-size: 66px
        margin-top: 80px
        line-height: 135%
    &__subtitle
        margin-top: 60px    
        max-width: 900px
        margin: 0 auto
        font-size: 16px
        line-height: 140%
        font-style: italic
    &__btn
        font-size: 18px
        margin-top: 30px    
        padding: 20px 40px
        margin: 40px auto
        display: block
        a
            color: #fff
    &__list
        max-width: 900px
        color: #fff 
        font-size: 22px
        margin: 0 auto
        text-align: center
        li
            padding: 6px 0
            letter-spacing: 0.02em
.discount
    margin: 0 auto
    margin-top: 100px
    padding-bottom: 50px
    &__item
        height: 350px
        width: 100%
        margin: 0 20px
        position: relative
        &::before
            content: ""
            position: absolute
            display: block
            width: 300px
            height: 350px
            background: rgba(255, 255, 255, .5)
            left: 20px
            top: 20px
    &__img
        position: absolute

    &__title
        position: absolute
        top: 50%
        left: 42%
        transform: translate(-50%, -50%)
        width: 70%
        text-align: center
        color: #ffffff
        line-height: 140%
.slick-active
    outline: none
.slick-track
    padding-bottom: 30px
.slick-dots
    display: flex
    margin: 20px auto 0 
    width: 160px
    li
        button
            font-size: 0
            background-color: transparent
            border: none
            border: 3px solid #fff
            display: inline-block
            width: 20px
            height: 20px
            border-radius: 50%
            margin: 0 6px
            &:hover
                cursor: pointer
            &:before
                content: ""
    .slick-active
        button
            background-color: #fff
                
.send
    padding: 80px 0 70px 0
    &--footer
        padding-bottom: 0
        background: url('../img/bg/send-img.jpg') center center/cover no-repeat
    &__form
        display: flex
        justify-content: space-around
        width: 1000px
        margin: 0 auto
        margin-top: 50px
    &__title
        line-height: 150%
        text-transform: uppercase
    &__input   
        display: block 
        border-radius: 8px
        border: none
        padding: 16px 20px
        font-size: 16px
        width: 250px
    &__btn
        margin: 0
    &__subtitle
        margin: 0 auto
        margin-top: 50px
        font-size: 22px
        max-width: 80%
    &__images
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        margin-top: 20px
        a
            display: block
            overflow: hidden
            &:hover
                img
                    transform: scale(1.03)
        img
            display: block
            width: 100%
            padding: 10px
            transition: .3s linear

.features
    padding: 80px 0 50px 0
    &__title
        color: #000000
        width: 80%
        margin: 0 auto
    &__subtitle
        color: rgba(0,0,0,0.6)
        width: 85%
        margin: 0 auto
        margin-top: 30px
        font-size: 22px
    &__images
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        margin-top: 20px
        a
            display: block
            overflow: hidden
            &:hover
                img
                    transform: scale(1.03)
        img
            display: block
            width: 100%
            padding: 10px
            max-height: 220px
            object-fit: cover
            transition: .3s linear  
    &__text
        text-align: center
        font-size: 16px
        margin-top: 10px  
        color: #000       

.program
    padding: 50px 0
    &__container
        display: flex
        flex-direction: column
    &__title
        color: #000000
    &__block
        display: flex
        margin-top: 50px
        justify-content: space-between
        flex-direction: column
    &__img
        height: 100%
    &__right
        display: grid
        margin: 25px 0
        grid-template-columns: 1fr 1fr 1fr
        img
            width: 100%
            height: 330px
            padding-right: 20px
            object-fit: cover
            &:last-child
                padding-right: 0
        &--second
            grid-template-columns: 1fr 1fr
            img
                max-height: 450px
            
            
    &__text
        width: 70%
        &--title
            font-size: 24px
            margin-bottom: 20px
            text-transform: uppercase
            &::after
                content: ''
                width: 70px
                height: 4px
                display: block
                background: #F93737
                margin-top: 6px
        p
            margin-top: 10px
            line-height: 160%
            font-size: 18px
    &__span
        color: $red
    &__btn
        margin-top: 30px
        font-size: 24px
        padding: 20px 40px
    
.price
    padding: 70px 0 50px 0
    &__col
        display: flex
        margin: 10px auto 0
        width: 70%
        justify-content: space-around
        &--item
            display: flex
            align-items: center
            span
                display: block
                font-size: 16px
                margin-left: 4px
            svg
                width: 30px 
                height: 30px
    &__title
        &--second
            margin-top: 40px
    &__subtitle
        font-size: 26px
        text-align: center
        color: rgba(255, 255, 255, .9)
        padding-bottom: 40px
        margin-top: 20px
        display: flex
        flex-direction: column
        span
            display: block
            margin: 10px 0
    &__block
        width: 80%
        background: #fff
        padding: 20px
        border-radius: 6px
        margin: 0 auto
        &--subtitle
            text-align: center
    &__item
        display: grid
        grid-gap: 20px
        width: max-content
        margin: 0 auto
        margin-top: 15px
        margin-bottom: 30px
        &--february
            grid-template-columns: 250px 250px 250px
        &--march
            grid-template-columns: 250px 250px
        &--april
            grid-template-columns: 1fr 1fr 1fr 1fr
        &--may
            grid-template-columns: 1fr 1fr 1fr
            &--second
                width: 540px
                margin: 0 auto
                display: grid
                grid-template-columns: 1fr 1fr
        &--text
            text-align: center
            background: rgba(123, 199, 78, .7)
            padding: 14px 10px
            border-radius: 6px
            max-width: 250px
            height: max-content
            span
                display: block
        &--group
            margin-bottom: 6px
        &--people
            margin-top: 6px
    .glass
        display: block
        width: 100%
        height: 100%
        background: rgba(255,255,255,.85)
        background-size: cover
        content: ' '

.include
    padding: 70px 0
    &--second
        padding-bottom: 110px
        padding-top: 10px
        .include__block
            grid-template-columns: 1fr 1fr
            width: 750px
            margin: 0 auto
            margin-top: 50px
    &__title
        color: #000000
        text-transform: uppercase
    &__block
        display: grid
        grid-template-columns: 1fr 1fr 1fr 
        grid-gap: 20px
        margin-top: 50px
        &--second
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 20px
            grid-column: 1 / 4
            .include__item
                width: 80% 
                margin: 0 auto
                &__text
                    width: 60%
    &__item
        svg
            width: 100px
            height: 100px
            display: block
            margin: 0 auto
        &__title
            text-align: center
            margin-top: 6px
            font-size: 24px
        &__text
            margin: 0 auto
            text-align: center
            margin-top: 10px
            font-size: 15px
            width: 90%
            
.type
    padding: 70px 0 80px 0
    &__title
        color: #000000
    &__subtitle
        color: rgba(0, 0, 0, .8)
        font-size: 22px
        width: 80%
        margin: 0 auto
    &__block
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 40px
        margin-top: 50px
    &__image
        width: 200px
        height: 200px
        margin: 0 auto
        border-radius: 50%
        display: block
    &__item
        &__title
            margin-top: 20px
            font-size: 24px
            text-align: center
        &__text
            font-size: 17px
            color: rgba(0, 0, 0, .8)
            text-align: center
            margin-top: 20px
            line-height: 130%


    
    
.booking
    padding: 70px 0 80px 0
    &__title
        color: #000000
    &__block
        display: grid
        margin: 0 auto
        margin-top: 60px
        grid-template-columns: 300px 50px 300px 50px 300px
        width: 1000px
        gap: 10px
    &__arrow
        margin-top: 200%
    &__item
        img
            width: auto
            height: 150px
            display: block
            margin: 0 auto
        &--title
            text-align: center
            margin-top: 10px
            margin-bottom: 16px
            font-size: 22px
    &__text
        text-align: center
        width: 90%
        font-size: 14px
        margin: 0 auto
        color: rgba(0, 0, 0, .8)
    &__btn
        display: block
        max-width: 250px
        padding: 20px 0
        margin-top: 60px
        span
            text-align: center

.gallery
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 20px
    &__title
        color: #000
        padding-top: 40px
        padding-bottom: 20px
    a
        display: block
        position: relative
        img
            width: 100%
            height: 250px
            display: block
            object-fit: cover
    &__hover
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, .4)
        top: 0
        left: 0
    &__text
        position: absolute
        top: 50%
        left: 50%
        color: #ffffff
        text-align: center
        width: 70%
        transform: translate(-50%, -50%)
        line-height: 140%
        
.accordion
    position: relative
    margin: 70px 0 0 0
    min-height: 560px
    &__container
        width: 1000px
    &__title
        color: #000
        margin-bottom: 50px
.set
    position: relative
    width: 100%
    height: auto
    &:last-child
        .content
            border-bottom: 1px solid #000
            padding-bottom: 20px
    a
        display: block
        padding: 30px 15px
        font-size: 26px
        text-decoration: none
        color: #555
        font-weight: 600
        border-top: 1px solid #000
        transition:all 0.2s linear
        &:hover
            svg
                background: rgba(0, 0, 0, .1)
                padding: 10px
                width: 50px 
                height: 50px
                border-radius: 50%
        .active
            background-color:#3399cc
            color: #fff
            svg
                color: #fff
        svg
            position: absolute
            display: block
            top: 16px
            right: 20px
            margin-top: 4px
            padding: 10px
            color: #666
            width: 50px
            height: 50px
            transition: .3s linear
            border-radius: 50%

.content
    position:relative
    width: 100%
    height: auto
    display: none
    p
        padding: 10px 15px
        margin: 0
        font-size: 16px
        color: #333
    &__break
        display: block
        margin-bottom: 8px
.plus
    transform: rotate(45deg)

.footer
    margin-top: 60px
    background: rgba(0, 0, 0, .5)
    padding: 40px 0
    .menu__item
        align-items: flex-end
    &__item
        display: flex
        flex-direction: column
        align-items: center !important
        a
            color: #ffffff
            margin-bottom: 20px
            text-align: center
            font-size: 14px
        span
            color: #ffffff
            text-align: center
            font-size: 14px
    .menu__logo
        width: 110px 
        height: 110px

.modal
    position: fixed
    background: rgba(0, 0, 0, .5)
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: -2
    opacity: 0
    visibility: hidden
    transition: .3s linear
    &__logo
        margin: 0 auto
        display: block
        width: 160px
        height: 160px
    &__block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: #ffffff
        padding: 30px 50px
        border-radius: 6px
    &__title
        color: #000000
        font-size: 28px
        margin-top: 20px
    &__subtitle
        color: rgba(0,0,0,0.6) 
        font-size: 20px
    &__form
        display: flex
        flex-direction: column
    &__input
        display: block 
        border-radius: 5px
        border: 1px solid #c9c9c9
        padding: 16px 20px
        font-size: 16px
        width: 100%
        margin-bottom: 20px
    &__btn
        width: 100%
        margin: 0 auto
        padding: 16px 20px
    &__text
        text-align: center
        margin-top: 40px
    .iti
        margin-bottom: 20px
